# Archivos de entorno y credenciales
env.local.download
*.env

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Archivos de Excel temporales
~$*.xlsx

# Archivos del sistema
.DS_Store
Thumbs.db 